.badge-light {
    color: #212529;
    background-color: #ecf0f1;
}

a.badge-light:hover, a.badge-light:focus {
    color: #212529;
    background-color: #cfd9db;
}

a.badge-light:focus, a.badge-light.focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(236, 240, 241, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(236, 240, 241, 0.5);
}