.list-group-item-action {
    width: 100%;
    color: #7b8a8b;
    text-align: inherit;
}

.list-group-item-action:hover, .list-group-item-action:focus {
    z-index: 1;
    color: #7b8a8b;
    text-decoration: none;
    background-color: #ecf0f1;
}

.list-group-item-action:active {
    color: #212529;
    background-color: #ecf0f1;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group-item:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.list-group-item.disabled, .list-group-item:disabled {
    color: #95a5a6;
    pointer-events: none;
    background-color: #ecf0f1;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #2C3E50;
    border-color: #2C3E50;
}

.list-group-horizontal {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.list-group-horizontal .list-group-item {
    margin-right: -1px;
    margin-bottom: 0;
}

.list-group-horizontal .list-group-item:first-child {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-top-right-radius: 0;
}

.list-group-horizontal .list-group-item:last-child {
    margin-right: 0;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0;
}

@media (min-width: 576px) {
    .list-group-horizontal-sm {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .list-group-horizontal-sm .list-group-item {
        margin-right: -1px;
        margin-bottom: 0;
    }
    .list-group-horizontal-sm .list-group-item:first-child {
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
        border-top-right-radius: 0;
    }
    .list-group-horizontal-sm .list-group-item:last-child {
        margin-right: 0;
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
        border-bottom-left-radius: 0;
    }
}

@media (min-width: 768px) {
    .list-group-horizontal-md {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .list-group-horizontal-md .list-group-item {
        margin-right: -1px;
        margin-bottom: 0;
    }
    .list-group-horizontal-md .list-group-item:first-child {
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
        border-top-right-radius: 0;
    }
    .list-group-horizontal-md .list-group-item:last-child {
        margin-right: 0;
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
        border-bottom-left-radius: 0;
    }
}

@media (min-width: 992px) {
    .list-group-horizontal-lg {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .list-group-horizontal-lg .list-group-item {
        margin-right: -1px;
        margin-bottom: 0;
    }
    .list-group-horizontal-lg .list-group-item:first-child {
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
        border-top-right-radius: 0;
    }
    .list-group-horizontal-lg .list-group-item:last-child {
        margin-right: 0;
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
        border-bottom-left-radius: 0;
    }
}

@media (min-width: 1200px) {
    .list-group-horizontal-xl {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .list-group-horizontal-xl .list-group-item {
        margin-right: -1px;
        margin-bottom: 0;
    }
    .list-group-horizontal-xl .list-group-item:first-child {
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
        border-top-right-radius: 0;
    }
    .list-group-horizontal-xl .list-group-item:last-child {
        margin-right: 0;
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
        border-bottom-left-radius: 0;
    }
}

.list-group-flush .list-group-item {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}

.list-group-flush .list-group-item:last-child {
    margin-bottom: -1px;
}

.list-group-flush:first-child .list-group-item:first-child {
    border-top: 0;
}

.list-group-flush:last-child .list-group-item:last-child {
    margin-bottom: 0;
    border-bottom: 0;
}

.list-group-item-primary {
    color: #17202a;
    background-color: #c4c9ce;
}

.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
    color: #17202a;
    background-color: #b6bcc2;
}

.list-group-item-primary.list-group-item-action.active {
    color: #fff;
    background-color: #17202a;
    border-color: #17202a;
}

.list-group-item-secondary {
    color: #4d5656;
    background-color: #e1e6e6;
}

.list-group-item-secondary.list-group-item-action:hover, .list-group-item-secondary.list-group-item-action:focus {
    color: #4d5656;
    background-color: #d3dada;
}

.list-group-item-secondary.list-group-item-action.active {
    color: #fff;
    background-color: #4d5656;
    border-color: #4d5656;
}

.list-group-item-success {
    color: #0c6251;
    background-color: #beece3;
}

.list-group-item-success.list-group-item-action:hover, .list-group-item-success.list-group-item-action:focus {
    color: #0c6251;
    background-color: #aae6db;
}

.list-group-item-success.list-group-item-action.active {
    color: #fff;
    background-color: #0c6251;
    border-color: #0c6251;
}

.list-group-item-info {
    color: #1b4f72;
    background-color: #c6e2f5;
}

.list-group-item-info.list-group-item-action:hover, .list-group-item-info.list-group-item-action:focus {
    color: #1b4f72;
    background-color: #b0d7f1;
}

.list-group-item-info.list-group-item-action.active {
    color: #fff;
    background-color: #1b4f72;
    border-color: #1b4f72;
}

.list-group-item-warning {
    color: #7e5109;
    background-color: #fce3bd;
}

.list-group-item-warning.list-group-item-action:hover, .list-group-item-warning.list-group-item-action:focus {
    color: #7e5109;
    background-color: #fbd9a5;
}

.list-group-item-warning.list-group-item-action.active {
    color: #fff;
    background-color: #7e5109;
    border-color: #7e5109;
}

.list-group-item-danger {
    color: #78281f;
    background-color: #f8cdc8;
}

.list-group-item-danger.list-group-item-action:hover, .list-group-item-danger.list-group-item-action:focus {
    color: #78281f;
    background-color: #f5b8b1;
}

.list-group-item-danger.list-group-item-action.active {
    color: #fff;
    background-color: #78281f;
    border-color: #78281f;
}

.list-group-item-light {
    color: #7b7d7d;
    background-color: #fafbfb;
}

.list-group-item-light.list-group-item-action:hover, .list-group-item-light.list-group-item-action:focus {
    color: #7b7d7d;
    background-color: #ecf0f0;
}

.list-group-item-light.list-group-item-action.active {
    color: #fff;
    background-color: #7b7d7d;
    border-color: #7b7d7d;
}

.list-group-item-dark {
    color: #404848;
    background-color: #dadedf;
}

.list-group-item-dark.list-group-item-action:hover, .list-group-item-dark.list-group-item-action:focus {
    color: #404848;
    background-color: #ccd2d3;
}

.list-group-item-dark.list-group-item-action.active {
    color: #fff;
    background-color: #404848;
    border-color: #404848;
}

.badge-primary {
    color: #fff;
    background-color: #2C3E50;
}

a.badge-primary:hover, a.badge-primary:focus {
    color: #fff;
    background-color: #1a252f;
}

a.badge-primary:focus, a.badge-primary.focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(44, 62, 80, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(44, 62, 80, 0.5);
}
